.header{
    background: white;
    margin-bottom: $m-size;
}
.header__content{
    align-items: center;
    display: flex;
    justify-content:space-between;   
    
}

.header__login{
    margin: 0 2rem 0 1rem !important;
}
.header__title{
      
    text-decoration: none; 
  
}
