$m-size: 1.6rem;
$s-size: 1.2rem;
$l-size: 3.2rem;
.comment-section{
    margin: $l-size 0 $m-size 0;
   }
   .userImage{
    content: url('/images/user.png');
    display: inline;
    height: 35px;
    width: 35px;
    vertical-align: top; 
}
.comment{
    display: inline-block;
    margin-left: $s-size;
    &__posted{
      margin-left: $s-size;
    }
    
  }
  .remove_comment{
    content: url('/images/trash.png');
    cursor: pointer;
    height: 20px;
    width: 25px;
    margin-left: $l-size;
    vertical-align: middle;  
    
  }