#page-container {
	position: relative;
	min-height: 60vh;
  }
  #content-wrap {
	padding-bottom: 2.5rem; 
  }
  
  #footer {
	position: absolute;
	bottom: 0;
	width: 100%;
  }  

.display-posts-listing.grid .image{
	max-width:100%;
}
.display-posts-listing.grid img { 
	display: block; 
	width: 100%;
	height: 200px;
}
.display-posts-listing.grid .title, .btn {
	display: block;
	padding:0 1.2rem;
	color: #3498DB;
}
.display-posts-listing.grid .author,.date {
    padding:0 1.2rem;
}
.display-posts-listing.grid  .post-desc {
	padding: 1.2rem 1.2rem 0rem 1.2rem;
}

.display-posts-listing.grid button{
	position: absolute;
}


@media (min-width: 600px) {
	.display-posts-listing.grid {
		grid-template-columns: repeat( 2, 1fr );
	}
}

@media (min-width: 1024px) {
	.display-posts-listing.grid {
		grid-template-columns: repeat( 3, 1fr );
	}
}
@media (min-width: 767px) {

	.display-posts-listing.grid {
		overflow: hidden;
		width: 100%;
	}

	.display-posts-listing.grid .listing-item {
		float: left;
		 width: 95%;
		
	}

	.display-posts-listing.grid .listing-item:nth-child(3n+1) {
		clear: both;
		margin-left: 0;
	}

}
.small-px{
    font-size: 12px;
}
.author{
	margin-top: -10px;
}

.post-header{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

 div.edit-icon{    
	content: url('/images/edit.png');
	 height:15px;  
	 width: 15px;
	margin-right: 5px;
 }
 div.comment-icon{    
	content: url('/images/comment.png');
	 height:20px;  
	 width: 20px;
	margin-right: 5px;
	
 }

.footer-grid{
	color: #333333;
	padding:0 1.2rem;
	display: flex;
	justify-content: flex-start;
}

